.links{
    border-right: 1px;
    border-bottom: 0px;
    border-left: 0px;
    border-top: 0px;
    border-color: rgb(24, 99, 211);
    background-color: rgb(255, 255, 255);
    width: 180px;
    height: 100vw;
    border-style: solid;
    text-align: left;
    
}

.Title{
    width: 91%;
    
}
    


#Box{
    background-color: rgb(192, 43, 43);
    border-color: rgb(192, 43, 43);
    height: 70px;
    width: 300px;
    text-align: center;
    float: right;
    margin-right: 10px;


}


#side_box{
    float: right;
    height: 100vw;
    width: 300px;
    border-color: rgb(0, 0, 0);
    border-style:solid;
    margin: 15px;
    text-align: center;
    border-width: 1px;

    

}

.Text{
    text-align:left;
    margin-right: 420px;
    font-size: large;
    
}

h1{
    font-size: 50px;
}