.links{
    border-right: 1px;
    border-bottom: 0px;
    border-left: 0px;
    border-top: 0px;
    border-color: rgb(24, 99, 211);
    background-color: rgb(255, 255, 255);
    width: 120px;
    border-style: solid;
    text-align: left;
    
}

.Title{
    width: 80%;
}

#Box{
    background-color: rgb(192, 43, 43);
    border-color: rgb(192, 43, 43);
    height: 60px;
    width: 250px;
    text-align: center;
    float: right;
}


#side_box{
    float: right;
    height: 900vw;
    width: 250px;
    border-color: rgb(0, 0, 0);
    border-style:solid;
    margin: 15px;
    text-align: center;
    border-width: 1px;

    

}

.Text{
    text-align: left;
}